.carousel {
  position: relative;
}

.slides {
  display: flex;
  padding: 50px;
  overflow-x: auto;
  transition: transform 300ms ease-out;
}

.slide {
  margin-right: 10px;
  scroll-snap-align: start;
}

img {
  width: 100px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
