<div class="carousel">
  <div class="slides" #carousel>
    <div class="slide" *ngFor="let image of images; let i = index; trackBy:identify">
      <asp-image-preview [image]="image" [width]="slideWidth" (delete)="deleteImage(i)"></asp-image-preview>
    </div>
  </div>

  <button (click)="scrollPrevious()" class="carousel-control left" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button (click)="scrollNext()" class="carousel-control right" mat-icon-button><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
