<div class="container" [style.width]="imageWidth" [style.height]="imageWidth" (mouseover)="hideElement = false"
(mouseleave)="hideElement = true">
  <div *ngIf="!hideElement" class="overlay">
    <button class="pos-top-right" (click)="deleteHandle()" mat-icon-button matTooltip="Delete?" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="image.isConverted" class="pos-center" (click)="downloadHandle()" mat-icon-button matTooltip="Download" color="primary">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <img mat-card-image [src]="image.src" [alt]="image.name" />
</div>
