<div class="menu">
  <mat-form-field>
    <mat-label>from</mat-label>
    <mat-select [(value)]="startFormat">
      <mat-option value="jpeg">JPG</mat-option>
      <mat-option value="svg">SVG</mat-option>
      <mat-option value="dicom">DICOM</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>to</mat-label>
    <mat-select [(value)]="endFormat">
      <mat-option value="png">PNG</mat-option>
      <mat-option value="gif">GIF</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<asp-file-upload
  *ngIf="displayUpload"
  [error]="errorMessage"
  [format]="startFormat"
  (imageUpload)="uploadHandler($event)"
></asp-file-upload>
<asp-carousel *ngIf="displayCarousel" [images]="images" (delete)="deleteHandler($event)"></asp-carousel>
<mat-progress-bar
  *ngIf="displayProgress"
  mode="buffer"
  [value]="progress"
  [bufferValue]="bufferValue">
</mat-progress-bar>
<div class="button-wrapper">
  <button *ngIf="!isConverted"
    (click)="convertHandler()"
    [disabled]="!images.length"
    mat-raised-button
    color="primary">
    Convert
  </button>
  <button *ngIf="isConverted" (click)="downloadImages()" mat-raised-button color="primary">Download</button>
</div>
